body {
    margin: 0;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #000;
  }
  
  #game-container {
    position: relative;
    width: 350px;
    height: 700px;
    text-align: center;
    border: 1px solid white; /* Add a border to visualize the container */
    background-color: #222; /* Add a background color for contrast */
    overflow: hidden;
  }

  #start-button {
    padding: 10px 20px;
    font-size: 18px;
    cursor: pointer;

    /* For visualization */
    background-color: rgb(89, 225, 249);
    border: 2px solid #000000;
    z-index: 1000;
}

.timer {
    position: absolute;
    top: 0px;
    right: 0px;
    font-size: 20px;
    color: white;
    background-color: black;
    padding: 10px;
    border-radius: 5px;
    z-index: 1000; /* Ensure it's on top of other game elements */
}

  #gameArea {
    position: relative;
    width: 350px;
    height: 700px;
    margin: 0 auto;
    overflow: hidden;
    text-align: center;
  }
  
  #car {
    position: absolute;
    top: 600px; /* Use a high initial top value */
    width: 30px;
    height: 60px;
    background-color: rgb(227, 15, 92); 
    border: 2px solid rgb(240, 240, 120);
    left: 50%; 
    transform: translateX(-50%); 
    transition: none; 
      }
  
  #road {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: grey; 
    border: 2px solid rgb(251, 74, 4);
  }
  
  .static-obstacle {
    position: absolute;
    width: 30px;
    height: 60px;
    background-color: blue; 
    border: 2px solid yellow;
  }

#finish-line {
    position: absolute;
    width: 100%;
    height: 30px; /* Adjust height as needed */
    background-color: red;
    top: 20px; /* Position it vertically where the finish line should be */
    left: 0;
    color: white;
    display: flex;
    justify-content: center; /* Center the text horizontally */
    align-items: center; /* Center the text vertically */
    font-size: 20px; /* Adjust font size as needed */
} 
